//Body

.body {
  width: 64%;
  float: left;
  background-color: white;

  .header {
    color: blue;
    padding: 30px 0 30px 0; 
  
    .header__title {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      float: left;
      padding-left: 30px;
      font-size: 25px;
      color: #4C5054;
    }

    .header__release_date {
      float: left;
      padding-left: 100px;
      color: #CDD3DD;
    }

    .header__populartiy {
      float: left;
      padding-left: 10px;
      color: #74C0C8;
    } 

    .header__refresh_icon {
      float: right;
      padding-right: 30px;
      color: #CDD3DD;
    }

    .header__recommend_icon {
     float: right;
     padding-right: 5px;
     color: #CDD3DD;
    }
  }

  .list {
    float: left;
    
    .movie {
      background-color: white;
      width: 99px;
      float: left;
      margin-left: 25px;
      margin-top: 25px;
    }

    .movie__image {
      display: block;
      height: 150px;
      border-radius: 5px;
    }

    .movie__title {
      padding-top: 10px;
    }

    .movie__genre {
      color: #606C74;
    }
    /*.movie__image--hover
    .movie__genre
    .movie__length
    .hover__image*/
  }
}