/*Navigation Bar*/
.left_nav {
  float: left;
  width: 18%;
  background-color: #11171C;
  line-height: 2.5;
  overflow: hidden;
  padding-bottom: 50px; }

.search {
  background-color: #CC4D4D;
  color: white;
  padding: 30px 0 30px 0;
  text-align: center;
  text-decoration: underline;
  font-style: italic; }

.main {
  color: white;
  background-color: #11171C;
  display: block;
  padding: 8px 8px 13px 8px; }

.catagory__icon {
  float: left;
  clear: both;
  padding-left: 15px; }

.catagory__name {
  float: left;
  padding-left: 12px;
  font-size: 14px; }

.movie_circles {
  color: white;
  background-color: #11171C;
  padding: 8px 8px 13px 8px;
  clear: both; }

.collections {
  color: white;
  background-color: #11171C;
  display: block;
  padding: 8px 8px 13px 8px;
  clear: both; }

.main__title {
  padding: 8px 8px 13px 14px;
  color: gray; }

.movie_circles__title {
  padding: 8px 8px 13px 14px;
  color: gray; }

.collections__title {
  padding: 8px 8px 13px 14px;
  color: gray; }

.body {
  width: 64%;
  float: left;
  background-color: white; }
  .body .header {
    color: blue;
    padding: 30px 0 30px 0; }
    .body .header .header__title {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      float: left;
      padding-left: 30px;
      font-size: 25px;
      color: #4C5054; }
    .body .header .header__release_date {
      float: left;
      padding-left: 100px;
      color: #CDD3DD; }
    .body .header .header__populartiy {
      float: left;
      padding-left: 10px;
      color: #74C0C8; }
    .body .header .header__refresh_icon {
      float: right;
      padding-right: 30px;
      color: #CDD3DD; }
    .body .header .header__recommend_icon {
      float: right;
      padding-right: 5px;
      color: #CDD3DD; }
  .body .list {
    float: left;
    /*.movie__image--hover
    .movie__genre
    .movie__length
    .hover__image*/ }
    .body .list .movie {
      background-color: white;
      width: 99px;
      float: left;
      margin-left: 25px;
      margin-top: 25px; }
    .body .list .movie__image {
      display: block;
      height: 150px;
      border-radius: 5px; }
    .body .list .movie__title {
      padding-top: 10px; }
    .body .list .movie__genre {
      color: #606C74; }

/*Social Bar*/
.social_bar {
  float: right;
  width: 18%;
  background-color: #ECEDEF;
  overflow: hidden; }
  .social_bar .social_header {
    background-color: #74C0C8;
    padding: 30px 0 50px 0; }
  .social_bar .social_header__image {
    float: left;
    padding-left: 15px;
    clear: both; }
    .social_bar .social_header__image .social_header__name {
      padding-left: 10px;
      float: left; }
    .social_bar .social_header__image .social_header__status {
      padding-right: 21px;
      float: right; }
  .social_bar .profile__image {
    float: left;
    padding-left: 10px;
    clear: both; }
    .social_bar .profile__image .profile__name {
      padding-left: 10px;
      float: left; }
    .social_bar .profile__image .profile__status {
      padding-right: 15px;
      float: right; }
  .social_bar .online {
    background-color: #ECEDEF;
    padding: 8px;
    line-height: 2; }
  .social_bar .offline {
    background-color: #ECEDEF;
    padding: 8px;
    line-height: 2;
    clear: both; }
  .social_bar .chat_search {
    background-color: #C4CCD8;
    padding: 30px 0 30px 0;
    line-height: 2;
    text-align: center;
    clear: both; }

/*Site Conatiner*/
.container {
  width: 100%; }

/*# sourceMappingURL=global.css.map */

/*# sourceMappingURL=global.css.map */
