
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

/*Navigation Bar*/
.left_nav {
  float: left;
  width: 18%;
  background-color: #11171C;
  line-height: 2.5;
  overflow: hidden;
  padding-bottom: 50px; }

.search {
  background-color: #CC4D4D;
  color: white;
  padding: 18px 0 18px 0;
  text-align: center;
  text-decoration: underline;
  font-style: italic; }

.main {
  color: white;
  background-color: #11171C;
  display: block;
  padding: 8px 8px 13px 8px; }

.catagory__icon {
  float: left;
  clear: both;
  padding-left: 15px; }

.catagory__name {
  float: left;
  padding-left: 12px;
  font-size: 14px; }

.movie_circles {
  color: white;
  background-color: #11171C;
  padding: 8px 8px 13px 8px;
  clear: both; }

.collections {
  color: white;
  background-color: #11171C;
  display: block;
  padding: 8px 8px 13px 8px;
  clear: both; }

.main__title {
  padding: 8px 8px 13px 14px;
  color: #74C0C8; }

.movie_circles__title {
  padding: 8px 8px 13px 14px;
  color: #74C0C8; }

.collections__title {
  padding: 8px 8px 13px 14px;
  color: #74C0C8; }

.body {
  width: 64%;
  float: left;
  background-color: white; }

.header {
  color: blue;
  padding: 30px 0 30px 0; }

.header__title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  padding-left: 30px;
  font-size: 25px;
  color: #4C5054; }

.header__release_date {
  float: left;
  padding-left: 175px;
  color: #595958; }

.header__populartiy {
  float: left;
  padding-left: 4px;
  color: #74C0C8; }

.header__refresh_icon {
  float: right;
  padding-right: 30px;
  color: #595958; }

.header__recommend_icon {
  float: right;
  padding-right: 5px;
  color: #595958; }

.list {
  float: left; }

.movie {
  background-color: white;
  width: 125px;
  float: left;
  margin-left: 25px;
  margin-top: 25px; }

.movie.movie--hover {
  z-index: 2;
  background-color: gray; }

.movie__image {
  display: block;
  height: 150px;
  border-radius: 5px; }

.movie__title {
  padding-top: 10px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.movie__genre {
  color: #606C74;
  font-size: 13px; }

.movie__length {
  color: #606C74;
  font-size: 13px; }

/*.movie__image--hover
.movie__genre
.movie__length
.hover__image*/
/*Social Bar*/
.social_bar {
  float: right;
  width: 18%;
  background-color: #ECEDEF;
  overflow: hidden; }

.social_header {
  background-color: #74C0C8;
  padding: 30px 0 50px 0; }

.social_header__image {
  float: left;
  padding-left: 18px;
  clear: both; }

.social_header__name {
  padding-left: 10px;
  float: left;
  color: white; }

.social_header__status {
  padding-right: 8px;
  float: right;
  color: #E0901A; }

.profile__status.profile__status--color {
  color: #E0901A; }

.profile__image {
  float: left;
  padding-left: 10px;
  clear: both; }

.profile__name {
  padding-left: 10px;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.profile__status {
  padding-right: 0px;
  float: right; }

.online {
  background-color: #ECEDEF;
  padding: 50px 9px 9px 9px;
  line-height: 2; }

.online__title {
  color: #CC4D4D; }

.offline {
  background-color: #ECEDEF;
  padding: 75px 9px 9px 9px;
  line-height: 2;
  clear: both; }

.offline__title {
  color: #CC4D4D; }

.chat_search {
  background-color: #C4CCD8;
  padding: 30px 0 30px 0;
  line-height: 2;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  clear: both;
  color: #ECEDEF; }

/*Site Conatiner*/
.container {
  width: 100%; }

/*# sourceMappingURL=global.css.map */

/*# sourceMappingURL=global.css.map */
